<%attr>
    breadcrumb      => 'Donate'
</%attr>
<%args>
    $amazon_amount  => 0
</%args>

<div class="row">
    <div class="span6">
    <h1>Support Nova Labs!</h1>
    <p>There are currently two important ways to support Nova Labs financially:
    as a <b>Regular Contributor</b> or as a <b>Donor</b>.</p>
    <p>A <b>Regular Contributor</b> supports Nova Labs by making recurring
    contributions on a regular schedule, typically monthly. This allows us to
    budget for expenses and plan for growth. This is recommended for supporters
    who plan to utilize the space and participate in activities on a regular
    basis. We are committed to supporting the community by promoting making for
    all, regardless of someone's ability to pay. While a contribution is not
    required to participate in our activities, for those who are able, we
    suggest a support level of $50 per month.</p>
    <p><b>Donors</b> who believe in and support our mission but who may not
    have the opportunity to utilize our space on a regular basis can show their
    support for Nova Labs by making one-time or less frequent donations.
    Donations can be used to support capital costs like new equipment and are
    vital for providing an enriching experience for our community of
    makers.</p>

    </div>

    <div class="span6">
    <h1>Donation Options</h1>

    <div class="well">
    <h2>Amazon Payments</h2>

    <p>To donate through Amazon, please enter an amount, then click the Amazon
    Payments button that appears.</p>

% if ( $amazon_amount ) {
<%perl>
    my $button = amazon_button(
        amount          => "USD $amazon_amount",
        description     => "Nova Labs Donation",
        _button         => 'golden_medium_paynow_withmsg_whitebg',
        _environment    => 'production',
    );
</%perl>
<p>Click this button to donate $<% $amazon_amount %>.</p>
<% $button %>
% } else {
%   $amazon_amount = 20;
    <form method="post" action="<% $r->uri %>">
        Donation amount: $<input type="text" style="width: 4em; text-align: right; font-weight: bold; font-size: 150%;" name="amazon_amount" value="<% $amazon_amount %>" />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
% }
    </div>

    <div class="well">
    <h2>Dwolla</h2>
    <p><a href="https://www.dwolla.com/hub/nova-labs"><img src="/images/donate-with-dwolla.png" border="0"></a></p>
    <p>Please be sure to include your name and email address in the 'Details' section when contributing through Dwolla, so we know who to thank!</p>
    </div>

    <div class="well">
    <h2>Cash / Check / Money Order</h2>
    <p>Cash (or other offline) donations can be put in the drop safe at Nova
    Labs, or contact a member of the accounting committee to arrange for other
    donation methods.</p>
    </div>

</div>
